.project-item {
    border: 2px solid transparent;
    overflow: hidden;
}

.project-img {
    transform: scale(1.1);
    z-index: 0;
    max-width: 610px;
    max-height: 610px;
}

.project-info {
    z-index: 1;
}

.project-item:hover {
    border: 2px solid var(--gold);
    box-shadow: 0 0 30px var(--shadow);
    cursor: pointer;
    position: relative;
    transform: scale(1.025);
    transition: 250ms;
    z-index: 2;
}

.project-item:hover>.prj-item-card>.img-container>.project-img {
    transform: scale(1.01);
    transition: 4s;
    z-index: 3;
}

/* .project-item:hover>.project-info {
    background-color: var(--overlay);
    z-index: 4;
} */

.img-container {
    height: 200px;
    overflow: hidden;
}

#add-project-modal-content,
#edit-project-modal-content {
    background-color: var(--base);
    border-radius: 0%;
    color: var(--title);
}

#add-project-modal-content>div,
#edit-project-modal-content>div {
    border: none;
}

textarea {
    resize: none;
}

#imgInput {
    cursor: pointer;
}

.thumbnail-preview {
    max-height: 200px;
}


/* input file */
.file-select {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

.file-select::before {
    background-color: #5678EF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.file-select input[type="file"] {
    width: 100%;
    opacity: 0;
    cursor: pointer;
    height: 32px;
    display: inline-block;
}

.cursor-pointer {
    cursor: pointer;
}
