.project-item {
    border: 2px solid transparent;
    overflow: hidden;
}

.project-img {
    transform: scale(1.1);
    z-index: 0;
}

.project-info {
    z-index: 1;
}

.project-item:hover {
    border: 2px solid var(--gold);
    box-shadow: 0 0 30px var(--shadow);
    cursor: pointer;
    position: relative;
    transform: scale(1.025);
    transition: 250ms;
    z-index: 2;
}

.project-item:hover>.project-img {
    transform: scale(1);
    transition: 3s;
    z-index: 3;
}

.project-item:hover>.project-info {
    background-color: var(--overlay);
    z-index: 4;
}
