<div class="container-fluid d-flex flex-column justify-content-center vh-100 base-color">
    <div data-aos="fade-in"
    data-aos-offset="50"
    data-aos-delay="50"
    data-aos-duration="500"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top"
    class="login-container m-auto text-color">
        <h4 class="title-color">Acceder</h4>
        <form #loginForm="ngForm" (ngSubmit)="onLogin()" novalidate>
            <div class="d-flex flex-column py-4">
                <input [(ngModel)]="nombreUsuario" type="text" id="nombreUsuario" name="nombreUsuario" placeholder="Usuario" class="p-2 login-input surface-color title-color" required>
                <input [(ngModel)]="password" type="password" id="password" name="password" placeholder="Contraseña" class="mt-3 p-2 login-input surface-color title-color" required>
                <p *ngIf="loginForm.submitted && isLoginFail" class="gold-color mt-3">Credenciales invalidas.</p>
            </div>
            <div class="d-flex flex-wrap flex-row-reverse">
                <button [disabled]="loginForm.form.invalid" type="submit" class="my-btn border-0 surface-color title-color p-1 px-2">Acceder</button>
                <button routerLink="/portfolio" class="my-btn border-0 surface-color title-color p-1 px-2 me-3" >Cancelar</button>
            </div>
        </form>
    </div>
</div>
