<div class="row d-flex justify-content-evenly align-items-center">
    <div data-aos="fade-in" data-aos-offset="100" data-aos-delay="50" data-aos-duration="500"
        data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top"
        class="col-lg-5 d-flex p-4">
        <img class="p-1 img-fluid rounded-circle m-auto gradient-bg" src="assets/imgs/profile.jpg"
            alt="profile picture">
    </div>
    <div data-aos="fade-in" data-aos-offset="100" data-aos-delay="50" data-aos-duration="500"
        data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top"
        class="col-lg-6 px-4">
        <div class="d-flex flex-column personal-info">
            <h1 id="full-name" class="title-color m-0">FEDERICO BURGOS</h1>
            <h3 class="subtle-color m-0">Full Stack Developer Jr</h3>
            <p class="text-color my-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam et ipsa tempora
                suscipit nemo quae quibusdam, maxime maiores tenetur cupiditate!</p>
            <div *ngIf="logged" class="d-flex edit-info-button mb-4">
                <!-- boton editar -->
                <button type="button" class="my-btn border-0 text-decoration-none title-color p-1 px-3"
                    data-bs-toggle="modal" data-bs-target="#edit-profile-modal">
                    Editar perfil
                </button>
            </div>
            <div class="d-flex w-100 flex-wrap social-links">
                <div class="d-flex flex-wrap gap social-links">
                    <a *ngFor="let social of socialItems" class="gold-color text-decoration-none"
                        [href]="social.socialLink" target="_blank">
                        <h5 class="m-0">{{social.socialName}}</h5>
                    </a>
                </div>
            </div>
            <div *ngIf="logged" class="mt-3">
                <button data-bs-toggle="modal" href="#admin-social-modal" class="my-btn border-0 text-decoration-none title-color p-1 px-3">
                    Administrar redes
                </button>
            </div>

        </div>
    </div>
</div>
<!-- modal editar perfil -->
<div class="modal fade" id="edit-profile-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="edit-profile-modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar perfil</h5>
            </div>
            <div class="modal-body d-flex flex-column">
                <form #editProfile="ngForm">
                    <div class="form-group">

                        <div class="d-flex">
                            <img (click)="profileImg.click()" class="img-fluid rounded-circle thumbnail-profile m-auto"
                                src="assets/imgs/profile.jpg" alt="" role="button">
                            <input #profileImg type="file" accept="image/jpg, image/png, image/jpeg" class="d-none">
                        </div>

                        <input class="my-input surface-color title-color p-2 mt-3" name="createName" id="createName"
                            type="text" placeholder="Nombre" required>

                        <input class="my-input surface-color title-color p-2 mt-3" name="createLastname"
                            id="createLastname" type="text" placeholder="Apellido" required>

                        <input class="my-input surface-color title-color p-2 mt-3" name="createTitle" id="createTitle"
                            type="text" placeholder="Título" required>

                        <textarea class="w-100 my-input surface-color title-color p-2 mt-3" name="createAbout"
                            id="createAbout" rows="4" maxlength="150" placeholder="Presentación (opcional)"
                            required></textarea>
                        <p class="text-color"></p>

                    </div>
                    <div class="mt-4 d-flex flex-row-reverse">
                        <button type="submit" class="my-btn border-0 text-decoration-none p-1 px-2 title-color ms-3" data-bs-dismiss="modal" [disabled]="editProfile.form.invalid">
                            Actualizar
                        </button>
                        <button type="button" class="my-btn border-0 text-decoration-none p-1 px-2 title-color" data-bs-dismiss="modal">
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- modal admin redes -->
<div class="modal fade" id="admin-social-modal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="admin-social-modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Administrador de redes</h5>
            </div>
            <div class="modal-body d-flex flex-column">
                <div *ngFor="let social of socialItems" class="d-flex mb-3 ps-2 w-100 justify-content-between surface-color">
                    <p class="m-0 align-items-center d-flex">{{social.socialName}}</p>
                    <div>
                        <button class="my-btn border-0 text-decoration-none p-1 px-2 title-color" data-bs-target="#edit-social-modal" data-bs-toggle="modal" (click)="findSocial(social.id)">
                            Editar
                        </button>
                        <button (click)="deleteSocial(social.id)" class="my-btn border-0 text-decoration-none p-1 px-2 title-color">
                            Eliminar
                        </button>
                    </div>
                </div>
                <button class="my-btn border-0 text-decoration-none p-1 px-2 title-color w-100" data-bs-target="#add-social-modal" data-bs-toggle="modal" (click)="clearAddForm()">
                    Añadir una red social
                </button>
                <div class="mt-4 d-flex flex-row-reverse">
                    <button type="button" class="my-btn border-0 text-decoration-none p-1 px-2 title-color" data-bs-dismiss="modal">
                        Salir
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal editar red (individual) -->
<div class="modal fade" id="edit-social-modal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="edit-social-modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Editar</h5>
            </div>
            <div *ngIf="socToUpdate" class="modal-body">
                <form (ngSubmit)="update(socToUpdate.id)" #editSocial="ngForm">
                    <div class="form-group">
                        <input [(ngModel)]="socToUpdate.socialName" class="my-input surface-color title-color p-2" name="createSocialName" id="createSocialName" type="text" placeholder="Nombre de la red social" required>
                        <input [(ngModel)]="socToUpdate.socialLink" class="my-input surface-color title-color p-2 mt-3" name="createSocialLink" id="createSocialLink" type="text" placeholder="Enlace al perfil" required>
                    </div>
                    <div class="mt-4 d-flex flex-row-reverse">
                        <button type="submit" class="my-btn border-0 text-decoration-none p-1 px-2 title-color ms-3" data-bs-dismiss="modal" [disabled]="editSocial.form.invalid">
                            Actualizar
                        </button>
                        <button type="button" class="my-btn border-0 text-decoration-none p-1 px-2 title-color" data-bs-dismiss="modal">
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal agregar red -->
<div class="modal fade" id="add-social-modal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="add-social-modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Agregar red social</h5>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="createSocial()" #addSocial="ngForm">
                    <div class="form-group">
                        <input [(ngModel)]="createSocialName" class="my-input surface-color title-color p-2" name="createSocialName" id="createSocialName" type="text" placeholder="Nombre de la red social" required>

                        <input [(ngModel)]="createSocialLink" class="my-input surface-color title-color p-2 mt-3" name="createSocialLink" id="createSocialLink" type="text" placeholder="Enlace al perfil" required>
                    </div>
                    <div class="mt-4 d-flex flex-row-reverse">
                        <button type="submit" class="my-btn border-0 text-decoration-none p-1 px-2 title-color ms-3" data-bs-dismiss="modal" [disabled]="addSocial.form.invalid">Agregar</button>
                        <button type="button" class="my-btn border-0 text-decoration-none p-1 px-2 title-color" data-bs-dismiss="modal" (click)="clearAddForm()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>