a {
    border: 1px solid transparent;
}

a:hover {
    border-bottom: 1px solid;
    color: var(--gold);
    transition: 0.25s;
}

textarea {
    resize: none;
}

#full-name {
    letter-spacing: 15px;
}

#edit-profile-modal-content,
#admin-social-modal-content,
#add-social-modal-content,
#edit-social-modal-content {
    background-color: var(--base);
    border-radius: 0%;
    color: var(--title);
}

#edit-profile-modal-content>div,
#admin-social-modal-content>div,
#add-social-modal-content>div,
#edit-social-modal-content>div {
    border: none;
}

.gap {
    gap: 30px;
}

.profile-img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    pointer-events: none;
}

.thumbnail-profile {
    overflow: hidden;
    height: 150px;
    width: 150px;
    border: 1px solid transparent;
}

.thumbnail-profile>img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.input-file-button {
    height: 150px;
    width: 150px;
    transition: 0.25s;
}
.input-file-button:hover {
    background-color: rgba(0, 0, 0, 0.685)
}

.input-file-button>h6 {
    display: none;
}

.input-file-button:hover>h6 {
    display: block;
}

@media (max-width: 991px ) {
    .social-links,
    .edit-info-button {
        justify-content: center;
    }
    
    .personal-info {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .profile-img {
        height: 250px;
        width: 250px;
        
    }
}

@media (max-width: 320px) {
    .profile-img {
        height: 200px;
        width: 200px;
    }
}