a {
    border: 1px solid transparent;
}

a:hover {
    border-bottom: 1px solid;
    color: var(--gold);
    transition: 0.25s;
}

textarea {
    resize: none;
}

#full-name {
    letter-spacing: 15px;
}

#edit-profile-modal-content,
#admin-social-modal-content,
#add-social-modal-content,
#edit-social-modal-content {
    background-color: var(--base);
    border-radius: 0%;
    color: var(--title);
}

#edit-profile-modal-content>div,
#admin-social-modal-content>div,
#add-social-modal-content>div,
#edit-social-modal-content>div {
    border: none;
}

.gap {
    gap: 30px;
}

.thumbnail-container {
    height: 150px;
    width: 100%;
}

.thumbnail-profile,
.input-file-btn {
    height: 150px;
    width: 150px;
    border: 2px solid transparent;
}

.thumbnail-profile:hover {
    border: 2px solid var(--gold);
}

.input-file-btn:hover {
    background-color: rgba(34, 34, 34, 0.774);
}

.social-controls {
    display: none;
}

.social-item-container:hover>.social-controls {
    display: none;
}

@media (max-width: 991px ) {
    .social-links,
    .edit-info-button {
        justify-content: center;
    }
    
    .personal-info {
        text-align: center;
    }
}
