<div id="education" class="container-fluid base-color py-5">
    <div class="d-flex">
        <div *ngIf="isLoadding" class="lds-ring m-auto"><div></div><div></div><div></div><div></div></div>
    </div>
    <div
        *ngIf="!isLoadding"
        data-aos="fade-in"
        data-aos-offset="50"
        data-aos-delay="50"
        data-aos-duration="500"
        data-aos-easing="ease-in-out"
        data-aos-mirror="true"
        data-aos-once="false"
        data-aos-anchor-placement="top"
        class="container">
        <div class="row">
            <div class="d-flex flex-wrap align-items-start justify-content-between">
                <h3 data-aos="fade-in"
                data-aos-offset="50"
                data-aos-delay="50"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
                data-aos-mirror="true"
                data-aos-once="false"
                data-aos-anchor-placement="top" class="m-0 pb-3 title-color">{{sectionTitle | uppercase}}</h3>
                <button *ngIf="isLogged" data-aos="fade-in"
                data-aos-offset="50"
                data-aos-delay="50"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
                data-aos-mirror="true"
                data-aos-once="false"
                data-aos-anchor-placement="top" type="button" class="add-btn my-btn border-0 text-decoration-none p-1 px-3 title-color" data-bs-toggle="modal" data-bs-target="#add-education-modal">
                    Nueva educación
                </button>
            </div>
        </div>
        <div class="row">
            <div data-aos="fade-in"
            data-aos-offset="50"
            data-aos-delay="50"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
            data-aos-anchor-placement="top"
             *ngFor="let item of educationItems; let i = index" class="col-lg-6">
                <div class="education-item d-flex flex-column align-items-start my-4">
                    <div class="d-flex flex-row flex-wrap justify-content-between w-100">
                        <h5 class="title-color">{{item.title}}</h5>                        
                        <div *ngIf="isLogged" class="d-flex justify-content-center align-items-center">
                            <button type="button" class="my-btn border-0 text-decoration-none title-color p-1 px-2 me-3" data-bs-toggle="modal" data-bs-target="#edit-education-modal" (click)="findEducation(item.id)">
                                Editar
                            </button>                            
                            <button (click)="deleteEducation(item.id)" class="my-btn border-0 text-decoration-none title-color p-1 px-2">Eliminar</button>
                        </div>
                    </div>
                    <p class="gold-color text-decoration-none m-0">{{item.academyName}}</p>
                    <a class="gold-color text-decoration-none" [href]="item.certificationLink" target="_blank">
                        > Certificación
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="isLogged" class="modal fade" id="edit-education-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="edit-education-modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar educación</h5>
            </div>
            <div *ngIf="edToUpdate" class="modal-body d-flex flex-column">
                <form (ngSubmit)="update(edToUpdate.id)" #editEd="ngForm">
                    <div class="form-group">            
                        <input [(ngModel)]="edToUpdate.title" class="my-input surface-color title-color p-2" name="createTitle" id="createTitle" type="text" placeholder="Título" maxlength="45" required>            
                        <input [(ngModel)]="edToUpdate.academyName" class="my-input surface-color title-color p-2 mt-3" name="createAcademyName" id="createAcademyName" type="text" placeholder="Institución" maxlength="255" required>            
                        <input [(ngModel)]="edToUpdate.certificationLink" class="my-input surface-color title-color p-2 mt-3" name="createCertificationLink" id="createCertificationLink" type="text" placeholder="Link del certificado" maxlength="255" required>            
                    </div>
                    <div class="mt-4 d-flex flex-row-reverse">
                        <button type="submit" class="my-btn border-0 text-decoration-none p-1 px-2 title-color ms-3" data-bs-dismiss="modal" [disabled]="editEd.form.invalid">
                            Guardar cambios
                        </button>
                        <button type="button" class="my-btn border-0 text-decoration-none p-1 px-2 title-color" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 

<div *ngIf="isLogged" class="modal fade" id="add-education-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="add-education-modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nueva educación</h5>
            </div>
            <div class="modal-body d-flex flex-column">
                <form (ngSubmit)="createEducation()" #addEd="ngForm">
                    <div class="form-group">
                        <input [(ngModel)]="createTitle" class="my-input surface-color title-color p-2" name="createTitle" id="createTitle" type="text" placeholder="Título" maxlength="45" required>
                        <input [(ngModel)]="createAcademyName" class="my-input surface-color title-color p-2 mt-3" name="createAcademyName" id="createAcademyName" type="text" placeholder="Institución" maxlength="45" required>
                        <input [(ngModel)]="createCertificationLink" class="my-input surface-color title-color p-2 mt-3" name="createCertificationLink" id="createCertificationLink" type="text" placeholder="Link del certificado" maxlength="255" required>
                    </div>
                    <div class="mt-4 d-flex flex-row-reverse">
                        <button type="submit" class="my-btn border-0 text-decoration-none p-1 px-2 title-color ms-3" data-bs-dismiss="modal" [disabled]="addEd.form.invalid">Añadir</button>
                        <button type="button" class="my-btn border-0 text-decoration-none p-1 px-2 title-color" data-bs-dismiss="modal" (click)="clearForm()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>