<div *ngIf="isLoadding && !isLogged" class="d-flex surface-color py-5">
    <div class="lds-ring m-auto"><div></div><div></div><div></div><div></div></div>
</div>

<div *ngIf="educationItems.length > 0 || isLogged" id="education" class="container-fluid surface-color py-5">
    <div
        data-aos="fade-in"
        data-aos-offset="50"
        data-aos-delay="50"
        data-aos-duration="500"
        data-aos-easing="ease-in-out"
        data-aos-mirror="true"
        data-aos-once="false"
        data-aos-anchor-placement="top"
        class="container">
        <div class="row">
            <div class="d-flex flex-wrap align-items-start justify-content-between">
                <h3
                    data-aos="fade-in"
                    data-aos-offset="50"
                    data-aos-delay="50"
                    data-aos-duration="500"
                    data-aos-easing="ease-in-out"
                    data-aos-mirror="true"
                    data-aos-once="false"
                    data-aos-anchor-placement="top" class="m-0 pb-3 title-color">
                    {{sectionTitle | uppercase}}
                </h3>
                <button
                    *ngIf="isLogged" data-aos="fade-in"
                    data-aos-offset="50"
                    data-aos-delay="50"
                    data-aos-duration="500"
                    data-aos-easing="ease-in-out"
                    data-aos-mirror="true"
                    data-aos-once="false"
                    data-aos-anchor-placement="top" type="button" class="add-btn my-btn border-0 text-decoration-none p-1 px-3 title-color" data-bs-toggle="modal" data-bs-target="#add-education-modal">
                    Nueva educación
                </button>
            </div>
            <div *ngIf="isLogged">
                <p *ngIf="educationItems.length < 1 && !isLoadding" class="text-color m-0 d-flex align-items-center animated-alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle me-2" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    Esta sección no será visible fuera de la sesión.
                </p>
                <p *ngIf="uploadingAlert" class="text-color m-0 d-flex align-items-center animated-alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle me-2" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    Añadiendo educación...
                </p>
                <p *ngIf="updatingAlert" class="text-color m-0 d-flex align-items-center animated-alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle me-2" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    Actualizando educación...
                </p>
                <p *ngIf="deletingAlert" class="text-color m-0 d-flex align-items-center animated-alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle me-2" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    Eliminando educación...
                </p>
            </div>            
        </div>
        <div *ngIf="isLoadding && isLogged" class="d-flex surface-color py-5">
            <div class="lds-ring m-auto"><div></div><div></div><div></div><div></div></div>
        </div>
        <div *ngIf="!isLoadding" class="row">
            <div class="col-10 m-auto">
                <div class="row">
                    <div
                        data-aos="fade-in"
                        data-aos-offset="50"
                        data-aos-delay="50"
                        data-aos-duration="500"
                        data-aos-easing="ease-in-out"
                        data-aos-mirror="true"
                        data-aos-once="false"
                        data-aos-anchor-placement="top"
                        *ngFor="let item of educationItems; let i = index" class="col-lg-6 mx-auto">
                        <div class="education-item d-flex flex-column align-items-center my-4">
                            <h5 class="text-center title-color text-center m-0">{{item.title}}</h5>                        
                            <p class="gold-color text-decoration-none m-0 text-center">{{item.academyName}}</p>
                            <a class="gold-color text-decoration-none text-center" [href]="item.certificationLink" target="_blank">
                                > Certificación
                            </a>
                            <div *ngIf="isLogged" class="d-flex">
                                <button type="button" class="my-btn border-0 text-decoration-none title-color p-1 px-3 me-1" data-bs-toggle="modal" data-bs-target="#edit-education-modal" (click)="findEducation(item.id)">
                                    Editar
                                </button>                            
                                <button (click)="deleteEducation(item.id)" class="my-btn border-0 text-decoration-none title-color p-1 px-3">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isLogged" class="modal fade" id="edit-education-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div *ngIf="!edToUpdate || loaddingForUpdate" class="d-flex m-auto py-5">
            <div class="lds-ring m-auto"><div></div><div></div><div></div><div></div></div>
        </div>
        <div *ngIf="edToUpdate && !loaddingForUpdate" class="modal-content" id="edit-education-modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar educación</h5>
            </div>
            <div *ngIf="edToUpdate" class="modal-body d-flex flex-column">
                <form (ngSubmit)="update(edToUpdate.id)" #editEd="ngForm">
                    <div class="form-group">            
                        <input [(ngModel)]="edToUpdate.title" class="my-input surface-color title-color p-2" name="createTitle" id="createTitle" type="text" placeholder="Título" maxlength="255" required>            
                        <input [(ngModel)]="edToUpdate.academyName" class="my-input surface-color title-color p-2 mt-3" name="createAcademyName" id="createAcademyName" type="text" placeholder="Institución" maxlength="255" required>            
                        <input [(ngModel)]="edToUpdate.certificationLink" class="my-input surface-color title-color p-2 mt-3" name="createCertificationLink" id="createCertificationLink" type="text" placeholder="Enalce al certificado" maxlength="255" required>            
                    </div>
                    <div class="mt-4 d-flex flex-row-reverse">
                        <button type="submit" class="my-btn border-0 text-decoration-none p-1 px-3 title-color ms-1" data-bs-dismiss="modal" [disabled]="editEd.form.invalid">
                            Guardar cambios
                        </button>
                        <button type="button" class="my-btn border-0 text-decoration-none p-1 px-3 title-color" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 

<div *ngIf="isLogged" class="modal fade" id="add-education-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="add-education-modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nueva educación</h5>
            </div>
            <div class="modal-body d-flex flex-column">
                <form (ngSubmit)="createEducation()" #addEd="ngForm">
                    <div class="form-group">
                        <input [(ngModel)]="createTitle" class="my-input surface-color title-color p-2" name="createTitle" id="createTitle" type="text" placeholder="Título" maxlength="255" required>
                        <input [(ngModel)]="createAcademyName" class="my-input surface-color title-color p-2 mt-3" name="createAcademyName" id="createAcademyName" type="text" placeholder="Institución" maxlength="255" required>
                        <input [(ngModel)]="createCertificationLink" class="my-input surface-color title-color p-2 mt-3" name="createCertificationLink" id="createCertificationLink" type="text" placeholder="Enalce al certificado" maxlength="255" required>
                    </div>
                    <div class="mt-4 d-flex flex-row-reverse">
                        <button type="submit" class="my-btn border-0 text-decoration-none p-1 px-3 title-color ms-1" data-bs-dismiss="modal" [disabled]="addEd.form.invalid">Añadir</button>
                        <button type="button" class="my-btn border-0 text-decoration-none p-1 px-3 title-color" data-bs-dismiss="modal" (click)="clearForm()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>