<!-- skills -->
<div id="skills" class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <h3 class="pb-3 text-center">SKILLS</h3>
        </div>
        <div class="row justify-content-evenly">
            <div class="front col-sm-6 py-4 d-flex flex-column align-items-center">
                <h4 class="mb-4">Front End</h4>
                <div class="my-auto skills-list text-center">
                    <p>HTML / CSS / JS</p>
                    <p>Bootstrap</p>
                    <p>Angular</p>
                </div>
            </div>
            <div class="back col-sm-6 py-4 d-flex flex-column align-items-center">
                <h4 class="mb-4">Back End</h4>
                <div class="my-auto skills-list">
                    <p>MySQL</p>
                </div>
            </div>
        </div>
    </div>
</div>