<div id="skills" class="container-fluid surface-color py-5">
    <div class="container">
        <div class="row">
            <h3 class="pb-3 title-color text-center">{{section_title | uppercase}}</h3>
        </div>
        <div class="row justify-content-evenly">
            <div class="col-sm-6 py-4 d-flex flex-column align-items-center">
                <h4 class="mb-4 title-color">Front End</h4>
                <div class="my-auto skills-list text-center">
                    <p *ngFor="let skill of frontend" class="subtle-color">{{skill}}</p>
                </div>
            </div>
            <div class="back col-sm-6 py-4 d-flex flex-column align-items-center">
                <h4 class="mb-4 title-color">Back End</h4>
                <div class="my-auto skills-list text-center">
                    <p *ngFor="let skill of backend" class="subtle-color">{{skill}}</p>
                </div>
            </div>
        </div>
    </div>
</div>