<div id="skills" class="container-fluid surface-color py-5">
    <div data-aos="fade-in"
    data-aos-offset="100"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top" class="container">
        <div class="row">
            <h3 class="pb-3 title-color">{{sectionTitle | uppercase}}</h3>
        </div>
        <div class="row justify-content-evenly">
            <div class="col-sm-6 py-4 d-flex flex-column align-items-center">
                <h4 class="mb-4 title-color">FrontEnd</h4>
                <div class="my-auto d-flex flex-column skills-gap align-items-center">
                    <div *ngFor="let skill of frontend" class="d-flex skill-item align-items-center justify-content-center">
                        <p class="subtle-color m-0 p-1">{{skill}}</p>
                        <div *ngIf="logged">
                            <button (click)="removeSkill(frontend, skill)" class="my-btn border-0 text-decoration-none title-color p-1 px-2">Delete</button>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" *ngIf="logged">
                        <button type="button" class="my-btn text-decoration-none border-0 title-color p-1 px-3" data-bs-toggle="modal" data-bs-target="#frontend-modal">
                            +
                        </button>
                        <div class="modal fade" id="frontend-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content" id="frontend-modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Add skill</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input class="my-input surface-color title-color p-2" [(ngModel)]="newSkill" type="text" placeholder="New skill">
                                        <p *ngIf="incomplete" class="mt-4 gold-color">
                                            Invalid value.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="my-btn border-0 text-decoration-none title-color p-1 px-2" data-bs-dismiss="modal">Cancel</button>
                                        <button (click)="addSkill(frontend, newSkill)" type="button" class="my-btn border-0 text-decoration-none title-color p-1 px-2">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 py-4 d-flex flex-column align-items-center">
                <h4 class="mb-4 title-color">BackEnd</h4>
                <div class="my-auto d-flex flex-column skills-gap align-items-center">
                    <div *ngFor="let skill of backend" class="d-flex skill-item align-items-center justify-content-center">
                        <p class="subtle-color m-0 p-1">{{skill}}</p>
                        <div *ngIf="logged">
                            <button (click)="removeSkill(backend, skill)" class="my-btn border-0 text-decoration-none title-color p-1 px-2">Delete</button>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" *ngIf="logged">
                        <button type="button" class="my-btn text-decoration-none border-0 title-color p-1 px-3" data-bs-toggle="modal" data-bs-target="#backend-modal">
                            +
                        </button>
                        <div class="modal fade" id="backend-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content" id="backend-modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Modal title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input class="my-input surface-color title-color p-2" [(ngModel)]="newSkill" type="text" placeholder="New skill">
                                        <p *ngIf="incomplete" class="mt-4 gold-color">
                                            Invalid value.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="my-btn border-0 text-decoration-none title-color p-1 px-2" data-bs-dismiss="modal">Cancel</button>
                                        <button (click)="addSkill(backend, newSkill)" type="button" class="my-btn border-0 text-decoration-none title-color p-1 px-2 ms-3">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>