#add-skill-modal-content,
#edit-skill-modal-content {
    background-color: var(--base);
    border-radius: 0%;
    color: var(--title);
}

#add-skill-modal-content>div,
#edit-skill-modal-content>div {
    border: none;
}

.skill-item,
.skills-gap {
    gap: 10px;
}

.input-border {
    border-bottom: 1px solid var(--btn);
}

.input-border-active {
    background-color: var(--btn-hover);
    border-bottom: 1px solid var(--gold);
}