.education-item {
    gap: 10px;
}

.education-item>a {
    color: #9ccfd8;
    border: 1px solid transparent;
    text-decoration: none;
}

.education-item>a:hover {
    transition: 0.5s;
    border-bottom: 1px solid;
}