/* You can add global styles to this file, and also import other style files */

:root {
    --base-bg: #191724;
    --surface-bg: #1f1d2e;
    --overlay-bg: #26233a;
    --text-color: #e0def4;
    --subtle-color: #908caa;
    --links-color: #9ccfd8;
}

* {
    font-family: 'Inconsolata', monospace;

    /* Firefox Scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #6e6a86 var(--base-bg);
}

/* Chrome Safari Edge Scrollbar */
body::-webkit-scrollbar {
    width: 10px;
}
  
body::-webkit-scrollbar-track {
    background: var(--base-bg);
}
  
body::-webkit-scrollbar-thumb {
    background-color: #6e6a86;
}
/* ============================ */