:root {
    --base: #191724;
    --surface: #1f1d2e;
    --overlay: #26233a;
    --shadow: #08080c;
    --title: #e0def4;
    --subtle: #9ccfd8;
    --gold: #f6c177;
    --text: #c4a7e7;
    --btn: #403d52;
    --btn-hover: #524f67;
}

* {
    font-family: 'Inconsolata', monospace;
    scrollbar-width: thin;
    scrollbar-color: #6e6a86 var(--base);
}

body::-webkit-scrollbar {
    width: 15px;
}
  
body::-webkit-scrollbar-track {
    background: var(--base);
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--overlay);
}

.base-color {
    background-color: var(--base);
}

.surface-color {
    background-color: var(--surface);
}

.overlay-color {
    background-color: var(--overlay);
}

.title-color {
    color: var(--title);
}

.subtle-color {
    color: var(--subtle);
}

.gold-color {
    color: var(--gold);
}

.text-color {
    color: var(--text);
}

.gradient-bg {
    background: linear-gradient(45deg, var(--gold) 0%, var(--text) 50%, var(--subtle) 100%);
}

.my-btn {
    background-color: var(--btn);
}

.my-btn:hover {
    background-color: var(--btn-hover);
}

.my-btn:focus {
    outline: none;
    background-color: var(--btn-hover);
}

.my-input {
    border: 1px solid transparent;
    outline: none;
    width: 100%;
}

.my-input:focus {
    outline: none;
    border-bottom: 1px solid var(--gold) ;
}

.my-input::placeholder {
    color: var(--text);
}