#add-experience-modal-content,
#edit-experience-modal-content {
    background-color: var(--base);
    border-radius: 0%;
    color: var(--title);
}

#add-experience-modal-content>div,
#edit-experience-modal-content>div {
    border: none;
}

textarea {
    resize: none;
  }