<div *ngIf="isLoadding" class="d-flex surface-color py-5">
    <div class="lds-ring m-auto"><div></div><div></div><div></div><div></div></div>
</div>

<div *ngIf="experienceItems.length > 0 || isLogged" class="container-fluid py-5 surface-color">
    <div
        data-aos="fade-in"
        data-aos-offset="50"
        data-aos-delay="50"
        data-aos-duration="500"
        data-aos-easing="ease-in-out"
        data-aos-mirror="true"
        data-aos-once="false"
        data-aos-anchor-placement="top"
        class="container">
        <div class="row">
            <div class="d-flex flex-wrap align-items-start justify-content-between">
                <h3
                    data-aos="fade-in"
                    data-aos-offset="50"
                    data-aos-delay="50"
                    data-aos-duration="500"
                    data-aos-easing="ease-in-out"
                    data-aos-mirror="true"
                    data-aos-once="false"
                    data-aos-anchor-placement="top"
                    class="title-color m-0 pb-3">
                    {{sectionTitle | uppercase}}
                </h3>
                <button
                    *ngIf="isLogged" 
                    data-aos="fade-in"
                    data-aos-offset="50"
                    data-aos-delay="50"
                    data-aos-duration="500"
                    data-aos-easing="ease-in-out"
                    data-aos-mirror="true"
                    data-aos-once="false"
                    data-aos-anchor-placement="top" type="button" class="add-btn my-btn border-0 text-decoration-none ms-auto p-1 px-3 title-color" data-bs-toggle="modal" data-bs-target="#add-experience-modal">
                    Nueva experiencia
                </button>
            </div>
            <p 
                data-aos="fade-in"
                data-aos-offset="50"
                data-aos-delay="50"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
                data-aos-mirror="true"
                data-aos-once="false"
                data-aos-anchor-placement="top"
                *ngIf="experienceItems.length < 1" class="text-color m-0 d-flex align-items-center animated-alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle me-2" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                Esta sección no será visible fuera de la sesion.
            </p>
        </div>
        <div class="row">
            <div class="col-10 m-auto">
                <div class="row">
                    <div
                        data-aos="fade-in"
                        data-aos-offset="50"
                        data-aos-delay="50"
                        data-aos-duration="500"
                        data-aos-easing="ease-in-out"
                        data-aos-mirror="true"
                        data-aos-once="false"
                        data-aos-anchor-placement="top"
                        *ngFor="let item of experienceItems; let i = index" class="col-lg-6 mx-auto">
                        <div class="experience-item my-4 d-flex flex-column align-items-center">
                            <h5 class="title-color m-0 text-center">{{item.rol}} {{item.startYear}} - {{item.endYear}}</h5>
                            <p class="subtle-color m-0 text-center">{{item.company}}</p>
                            <p class="text-color mb-0 text-center">{{item.description}}</p>
                            <div *ngIf="isLogged" class="d-flex justify-content-center align-items-center">
                                <button type="button" class="my-btn border-0 text-decoration-none title-color p-1 px-3 me-1" data-bs-toggle="modal" data-bs-target="#edit-experience-modal" (click)="findExperience(item.id)">
                                    Editar
                                </button>                                                        
                                <button (click)="deleteExperience(item.id)" class="my-btn border-0 text-decoration-none title-color p-1 px-3">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modales -->
<div *ngIf="isLogged" class="modal fade" id="edit-experience-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="edit-experience-modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar experiencia</h5>
            </div>
            <div *ngIf="expToUpdate" class="modal-body d-flex flex-column">
                <form (ngSubmit)="update(expToUpdate.id)"  #editExp="ngForm">
                    <div class="form-group">            
                        <input [(ngModel)]="expToUpdate.rol" class="my-input surface-color title-color p-2" name="createRol" id="createRol" type="text" placeholder="Puesto de trabajo" maxlength="45" required>
                        <input [(ngModel)]="expToUpdate.startYear" class="my-input surface-color title-color p-2 mt-3" name="createStarYear" id="createStarYear" type="number" placeholder="Año de inicio" min="1900" max="2100" required>
                        <p *ngIf="expToUpdate.startYear < 1900 || expToUpdate.startYear > 2100" class="gold-color m-0 p-0">El año de inicio tiene que ser valido.</p>
                        <input [(ngModel)]="expToUpdate.endYear" class="my-input surface-color title-color p-2 mt-3" name="createEndYear" id="createEndYear" type="number" placeholder="Año de finalización" min="1900" max="2100" required>
                        <p *ngIf="expToUpdate.endYear < 1900 || expToUpdate.endYear > 2100" class="gold-color m-0 p-0">El año de finalización tiene que ser valido.</p>
                        <input [(ngModel)]="expToUpdate.company" class="my-input surface-color title-color p-2 mt-3" name="company" id="createCompany" type="text" placeholder="Compañia" maxlength="45" required>
                        <textarea [(ngModel)]="expToUpdate.description" class="w-100 my-input surface-color title-color p-2 mt-3" name="createDescription" id="createDescription"  rows="4" maxlength="150" placeholder="Descripción" required></textarea>
                        <p class="text-color">{{expToUpdate.description.length}}/150</p>            
                    </div>
                    <div class="mt-4 d-flex flex-row-reverse">
                        <button type="submit" class="my-btn border-0 text-decoration-none p-1 px-3 title-color ms-1" data-bs-dismiss="modal" [disabled]="editExp.form.invalid">Guardar cambios</button>
                        <button type="button" class="my-btn border-0 text-decoration-none p-1 px-3 title-color" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isLogged" class="modal fade" id="add-experience-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="add-experience-modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nueva experiencia</h5>
            </div>
            <div class="modal-body d-flex flex-column">
                <form (ngSubmit)="createExperience()" #addExp="ngForm">
                    <div class="form-group">
                        <input [(ngModel)]="createRol" class="my-input surface-color title-color p-2" name="createRol" id="createRol" type="text" placeholder="Puesto" maxlength="45" required>
                        <input [(ngModel)]="createStartYear" class="my-input surface-color title-color p-2 mt-3" name="createStarYear" id="createStarYear" type="number" min="1900" max="2100" placeholder="Año de inicio" required>   
                        <p *ngIf="createStartYear < 1900 || createStartYear > 2100" class="gold-color p-0 m-0">El año de inicio tiene que ser valido.</p>
                        <input [(ngModel)]="createEndYear" class="my-input surface-color title-color p-2 mt-3" name="createEndYear" id="createEndYear" type="number" min="1900" max="2100" placeholder="Año de finalización" required>
                        <p *ngIf="createEndYear < 1900 || createEndYear > 2100" class="gold-color p-0 m-0">El año de finalización tiene que ser valido.</p>
                        <input [(ngModel)]="createCompany" class="my-input surface-color title-color p-2 mt-3" name="createCompany" id="createCompany" type="text" placeholder="Compañia" maxlength="45" required>
                        <textarea [(ngModel)]="createDescription" class="w-100 my-input surface-color title-color p-2 mt-3" name="createDescription" id="createDescription"  rows="4" maxlength="150" placeholder="Descripción" required></textarea>
                        <p class="text-color">{{createDescription.length}}/150</p>
                    </div>
                    <div class="mt-4 d-flex flex-row-reverse">
                        <button type="submit" class="my-btn border-0 text-decoration-none p-1 px-3 title-color ms-1" data-bs-dismiss="modal" [disabled]="addExp.form.invalid">Añadir</button>
                        <button type="button" class="my-btn border-0 text-decoration-none p-1 px-3 title-color" data-bs-dismiss="modal" (click)="clearForm()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>